# Ignore Node.js modules
node_modules/

# Ignore build files
dist/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore IDE specific files
.vscode/
.idea/

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd